@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background-color: #121212;
    display: flex;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 80vh;
    width: 100%;
}

/*--Menu--*/
.io-menu{
    width: 50px;
    height: calc(40px * 6 + 7px + 10px);
    position: fixed;
    top: calc(50vh - (40px * 6 + 7px + 10px) / 2); 
    left: 1vw;
    z-index: 500;
    text-align: center;
}
.io-menu .content {
    padding: 7px 2px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50vw;
    background-color: #ffffff;
}
.io-menu .content .icon {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 40px;
}
.io-menu .content .icon-active {
    color: rgb(73, 1, 133);
}

/*--Home--*/
.home {
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw));
    margin-right: 2vw;
    min-height: 100vh;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;*/
}
.home img {
    width: 250px;
    height:180px;
    object-fit: cover;
    object-position: 100% 30%;
    margin: 15px calc(45% - 250px / 2);
}
.home p {
    padding-right: 2vw;
    font-size: 20px;
    text-align: justify;
}

/*--Servicos--*/
.io-servicos {
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw) - 3vw);
    margin-right: 2vw;
}
.io-servicos h1{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}
.io-servicos .servico {
    padding: 1px 20px;
    margin-right: 4vw;
    width: 100%;
    min-height: 50px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
}
.io-servicos .servico h2 {
    font-size: 30px;
    font-weight: 500;
}
.io-servicos .servico .descricao {
    font-size: 20px;
}

/*--Projetos Internos--*/
.internal-projects {
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw) - 3vw);
    margin-right: 2vw;
}
.internal-projects h1{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}
.internal-projects h2{
    font-size: 20px;
    font-weight: 500;
}
.internal-projects p {
    font-size: 15px;
}
.internal-projects > ul{
    padding-left: 0px;
}
.internal-projects .project {
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
}
.internal-projects .project a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    height: 35px;
    width: 238px;
    margin-left: calc(50% - 238px/2);
    padding: 5px 10px;
    background-color: #1f1f88;
    color: #ffffff;
    border-radius: 50vh;
}
.internal-projects .project a:hover {
    background-color: #2c2cad;
    scale: 1.1;
    transition: 0.2s linear;
}

/*--Contato--*/
.contato{
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw) - 3vw);
    margin-right: 2vw;    
}
.contato h1 {
    margin: 10px;
    font-size: 30px;
    font-weight: 400;    
}

/*--Avaliações--*/
.avaliacoes{
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw) - 3vw);
    margin-right: 2vw;  
}
.avaliacoes h1{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}

/*--Time--*/
.time{
    margin-left: calc(54px + 4vw);
    width: calc(100% - (54px + 4vw) - 3vw);
    margin-right: 2vw;  
}
.time h1{
    margin: 10px;
    font-size: 30px;
    font-weight: 400;
}
.time > div {
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}
.time .name {
    font-size: 20px;
    font-weight: 600;
    /*font-style: italic;*/
    text-decoration: #000000 underline;
}
.time .redes-sociais {
    font-weight: bold;
}
.time .redes-sociais a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    width: 80px;
    padding: 5px 10px;
    margin: 5px;
    background-color: #1f1f88;
    color: #ffffff;
    border-radius: 50vh;
}
.time .redes-sociais a:hover {
    background-color: #2c2cad;
    scale: 1.1;
    transition: 0.2s linear;
}